<f:layout name="Request" />

<f:section name="main">

	<h2>{message.header -> f:format.html()}</h2>
	{message.bodytext -> f:format.html()}
	<hr />
	<f:link.page pageUid="{jsData.pageId}" class="btn btn-primary morelink-no-arrow"><i class="fa fa-undo fa-fw"></i> <f:translate id="label.configureAgainButton" default="Configure another %1$s" arguments="{0: contentObject.ccgConfiguration.title}" /></f:link.page>
	<a id="ccg-fancybox-close-button" href="javascript:$.fancybox.close();" target="_parent" class="btn btn-danger"><f:translate id="label.closeWindow" default="Close window" /> <i class="fa fa-times fa-fw"></i></a>

</f:section>