<f:layout name="Request" />

<f:section name="main">

<h1><f:translate id="label.requestButton" extensionName="ecom_config_code_generator" arguments="{0: contentObject.ccgConfiguration.title}" /></h1>
<p>&nbsp;</p>
<f:form action="create" enctype="multipart/form-data" id="newLog" name="newLog" object="{newLog}" additionalAttributes="{data-validate: 'html5', data-parsley-validate: 'data-parsley-validate'}">
	<f:render partial="Log/FormFields" arguments="{_all}" />
	<div class="form-group row no-margin-horizontal">
		<f:form.button type="submit" id="ccg-request-submit" class="btn btn-primary morelink" additionalAttributes="{autocomplete: 'off'}"><f:translate id="forms.submit" extensionName="ecom_config_code_generator" /></f:form.button>
	</div>
</f:form>

<script type="text/javascript" language="JavaScript">
	(function($) {
		var countryZonesJSON = [];
		var correspondingZoneSelect;
		var output = '';

		// Build the <option>-Tags based on selected country
		function buildOptionsForZoneSelect(countryIso) {
			if ( !countryIso ) return false;
			correspondingZoneSelect = $('select#state');
			correspondingZoneSelect.empty();
			output = '';

			$.each(countryZonesJSON, function(index, item) {
				if (countryIso == item['country-iso']) {
					output += '<option data-country="'+ item['country-iso'] +'" value="'+ item['value'] +'">'+ item['name'] +"</option>\r\n";
				}
			});
			correspondingZoneSelect.html("<option class=\"empty-option\" value=\"\" selected=\"selected\"></option>\r\n" + output);
		}

		$(document).ready(function() {
			var $RequestButton = $('#ccg-request-submit'),
				requestText = "{f:translate(id : 'label.sendRequest', extensionName: 'ecom_config_code_generator')}",
				defaultText = "<i class=\"fa fa-envelope fa-fw\"></i> " + requestText,
				loadingText = requestText + "... <i class=\"fa fa-circle-o-notch fa-fw fa-spin\"></i>";
			$RequestButton.attr('data-loading-text', loadingText);

			function resetButton() {
				$RequestButton.removeAttr('disabled').removeClass('disabled morelink-no-arrow').html(defaultText);
			}

			if ( $RequestButton.hasClass('disabled') )
				resetButton();

			$RequestButton.on('click', function() {
				// If form is valid
				if ( $('form#newLog').parsley().isValid() ) {
					$(this).button('loading').addClass('morelink-no-arrow');
				}
			});

			// Build JSON Array for => State/Province options
			$('select#state option').each(function() {
				// Skip the empty option
				if ($(this).hasClass('empty-option')) return true;

				var item = new Array();
				item["name"] = $(this).html();
				item["value"] = $(this).val();
				item["country-iso"] = $(this).attr('data-country');
				countryZonesJSON.push(item);
				$(this).remove();
			});

			buildOptionsForZoneSelect('');

			// Build options based on country selection => on Change
			$('select#country').on('change', function() {
				buildOptionsForZoneSelect($('option:selected', this).attr('data-cn-iso'), this);
				$(this).closest('form').find('select#state').focus();
			});
		});
	})(jQuery);
</script>

</f:section>