
<table class="tx-ecom-config-code-generator" >
	<tr>
		<td>
			<f:translate key="tx_ecomconfigcodegenerator_domain_model_configuration.title" />
		</td>
		<td>
		{configuration.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ecomconfigcodegenerator_domain_model_configuration.prefix" />
		</td>
		<td>
		{configuration.prefix}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ecomconfigcodegenerator_domain_model_configuration.suffix" />
		</td>
		<td>
		{configuration.suffix}
		</td>
	</tr>
</table>