
<table class="tx-ecom-config-code-generator" >
	<tr>
		<td>
			<f:translate key="tx_ecomconfigcodegenerator_domain_model_partgroup.title" />
		</td>
		<td>
		{partGroup.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ecomconfigcodegenerator_domain_model_partgroup.icon" />
		</td>
		<td>
				<f:image src="{partGroup.icon.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ecomconfigcodegenerator_domain_model_partgroup.place_in_code" />
		</td>
		<td>
		{partGroup.placeInCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ecomconfigcodegenerator_domain_model_partgroup.prompt" />
		</td>
		<td>
		{partGroup.prompt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ecomconfigcodegenerator_domain_model_partgroup.global_settings" />
		</td>
		<td>
		{partGroup.settings}
		</td>
	</tr>
</table>