<f:for each="{partGroups}" as="partGroup" iteration="partGroupIterator">
	<f:if condition="{partGroup.visibleInNavigation}">
		<a data-ccgpg="{partGroup.uid}" id="configurator-part-group-{partGroup.uid}-link" class="configurator-part-group-select configurator-part-group-state-{partGroup.active -> f:format.number(decimals: 0)}{f:if(condition: partGroup.current, then: ' current')}{f:if(condition: partGroup.locked, then: ' configurator-locked-part-group')}" title="{partGroup.title}">
			<div>
				<f:if condition="{partGroup.icon}">
					<f:then><f:image src="{partGroup.icon.uid}" id="configurator-part-group-{partGroup.uid}-icon" class="configurator-part-group-icon icon-state-{partGroup.active -> f:format.number(decimals: 0)}{f:if(condition: partGroup.current, then: ' current')}" width="32" height="32" treatIdAsReference="1" /></f:then>
					<f:else><span class="part-group-number align-center">{partGroup.stepIndicator}</span></f:else>
				</f:if>
				<f:if condition="{partGroup.unlocked}">
					<f:then><i class="fa fa-{f:if(condition: partGroup.activeParts, then: 'check-', else: '')}square-o{f:if(condition: partGroup.current, then: ' current')}"></i></f:then>
					<f:else><i class="fa fa-lock"></i></f:else>
				</f:if>
			</div>
			<div class="hidden-xs hidden-sm configurator-part-group-select-index-title">{partGroup.title}</div>
		</a>
	</f:if>
</f:for>
<div class="clearfix"></div>