body {
	font-family: "Roboto Condensed", sans-serif;
}
#ccg-generator-canvas a {
	cursor: pointer;
}
.ecom-generator-config-header-instructions h1 {
    font-weight: 400;
}
#ccg-generator-canvas a.generator-part-group-select.generator-part-group-state-0,
#ccg-generator-canvas a.generator-part-group-select.generator-locked-part-group,
#ccg-generator-canvas a.generator-part-group-select.current {
	cursor: not-allowed;
}
#ccg-generator-canvas a:focus {
	outline: none;
}
#ccg-generator-canvas table.vtop * {
	vertical-align: top;
}

#ccg-generator-canvas .no-margin {
	margin: 0;
}

#ccg-generator-canvas .no-margin-horizontal {
	margin-left: 0;
	margin-right: 0;
}

#ccg-generator-canvas img.generator-part-group-icon.icon-state-0 {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

#ccg-generator-canvas .align-center,
#ccg-generator-canvas .align-center * {
	text-align: center;
}

#ccg-generator-canvas .align-right,
#ccg-generator-canvas .align-right * {
	text-align: right;
}

.divider {
	border-bottom: 1px solid #ccc;
	margin: 1em 0;
}
#ccg-generator-ajax-loader.ajaxloader {
	background: rgba(255, 255, 255, .8) url("../../../../../../typo3/sysext/t3skin/images/spinner/big-f0f0f0.gif") center center no-repeat scroll;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#ccg-generator-canvas .btn.btn-default.dropdown:after {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f107";
	padding-left: 5px;
	text-align: center;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	width: 1.28571429em;
}
#ccg-generator-canvas .btn.btn-default.dropdown.active:after {
	content: "\f106";
}
/**
*	SELECT REGION / CURRENCY
*/
.select-region-wrap {
	text-align: center;
}
.select-region-wrap .select-region-currencies {
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 10px 0;
}
.select-region-wrap h2 {
	color: #0083cb;
	margin-bottom: 1.5em;
}
.select-region-wrap a.select-region-choose-flag {
	color: black;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
	padding: 0 15px;
	margin: 1em 0;
	display: inline-block;
	*display: inline;
	zoom: 1;
	transition: color 0.2s ease-out;
}

.select-region-wrap a.select-region-choose-flag:hover {
	color: #0083cb;
}
.select-region-wrap a.select-region-choose-flag img {
	opacity: 0.5;
	margin-bottom: 0.5em;
	transition: all 0.2s ease-out;
}
.select-region-wrap a.select-region-choose-flag:hover img {
	opacity: 1;
}
.select-region-wrap aside {
	color: #999;
	text-align: center;
	margin-top: 2em;
}

/**
 * INDEX
 */
#ccg-generator-canvas div.clearfix {
	clear: both;
}
#ccg-generator-canvas .ecom-generator-generator-head {
	padding-top: 15px;
}
#ccg-generator-canvas .ecom-generator-generator-head .generator-config-header-instructions {
	float: left;
}
#ccg-generator-canvas .ecom-generator-generator-head .generator-config-header-instructions p {
	margin: 0;
}
#ccg-generator-canvas .ecom-generator-generator-head .generator-config-header-price-table {
	float: right;
	text-align: right;
}
#ccg-generator-canvas .ecom-generator-generator-head .generator-config-header-price-table select {
	margin-bottom: 1em;
}
#ccg-generator-canvas .ecom-generator-generator-head .generator-config-header-price-table thead {
	color: #808080;
}
#ccg-generator-canvas .ecom-generator-generator-head .generator-config-header-price-table table td {
	padding-left: 40px;
}
#ccg-generator-canvas .ecom-generator-generator-head #generator-config-header-config-price {
	color: #0083cb;
	font-weight: bold;
}
#ccg-generator-canvas a {
	cursor: pointer;
	text-decoration: none;
}
#ccg-generator-canvas a:focus {
	outline: 1px dotted black;
}
#generator-part-group-select-index {
	margin: 2em 0;
}
#generator-select-parts-ajax-update {
	margin-top: 1.5em;
}
#ccg-generator-canvas a.generator-part-group-select {
	float: left;
	margin-right: 0.5em;
	text-align: center;
	word-wrap: break-word;
	width: 80px;
}
#ccg-generator-canvas a.generator-part-group-select > div:first-child {
	margin: 0 auto;
	position: relative;
	height: 37px;
	width: 28px;
}
#ccg-generator-canvas a.generator-part-group-select:last-child > div {
	margin-right: 0;
}
#ccg-generator-canvas a.generator-part-group-select > div span.part-group-number {
	border: 3px solid #0083cb;
	display: block;
	height: 29px;
	line-height: 24px !important;
	width: 29px;
}
#ccg-generator-canvas a.generator-part-group-select.generator-part-group-state-1 > div span.part-group-number {
    background: #0083CB;
    color: white;
}
#ccg-generator-canvas a.generator-part-group-select.generator-part-group-state-1.current > div span.part-group-number,
#ccg-generator-canvas a.generator-part-group-select.generator-part-group-state-0.current > div span.part-group-number {
    border-color: #0083CB;
    background: transparent;
    color: #888;
}
#ccg-generator-canvas a.generator-part-group-select.generator-part-group-state-0 > div span.part-group-number {
	border-color: #808080;
	color: #808080;
}
#ccg-generator-canvas a.generator-part-group-select.generator-locked-part-group > div span.part-group-number,
#ccg-generator-canvas a.generator-part-group-select.generator-locked-part-group > div i {
    background: transparent;
	border-color: #ccc;
	color: #ccc;
}
#ccg-generator-canvas a.generator-part-group-select > div > i {
	background-color: #fff;
    color: #777;
	bottom: 2px;
	position: absolute;
	right: -6px;
}
#ccg-generator-canvas a.generator-part-group-select.current > div > i {
	color: #444;
}
#ccg-generator-canvas a.generator-part-group-select.generator-part-group-state-1 > div > i,
#ccg-generator-canvas a.generator-part-group-select.generator-part-group-state-1.current > div > i {
    color: #00aa00;
}
#ccg-generator-canvas a.generator-part-group-select.generator-locked-part-group,
#ccg-generator-canvas a.generator-part-group-select.generator-locked-part-group > div > i {
    color: #ccc;
}
#ccg-generator-canvas img.generator-part-group-icon.icon-state-0 {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
#ccg-generator-canvas .syntax-help {
	padding: 0 2px;
}
#ccg-generator-canvas .syntax-help[title]:hover,
#ccg-generator-canvas .syntax-help[title]:focus {
	background-color: #ff6;
	cursor: help;
}
#ccg-generator-canvas .generator-reset-configuration-button {
	display: block;
	color: #808080;
	margin-top: 0.5em;
}
#ccg-generator-canvas .generator-result {
	margin: 2em 0;
	text-align: center;
}
#ccg-generator-canvas .generator-result h2 {
	color: #0083cb;
	line-height: 2em;
}
#ccg-generator-canvas .generator-result h2 > small {
	font-size: 1.5em;
	color: #808080;
}
#ccg-generator-canvas .generator-index .btn,
#ccg-generator-canvas .generator-result .btn {
    margin-right: 5px;
    margin-bottom: 5px;
}
#ccg-generator-canvas .generator-resolve-list thead {
	font-weight: bold;
	color: #0083cb;
	border-bottom: 4px solid #0083cb;
}
#ccg-generator-canvas #generator-summary-table {
	display: block;
	padding-top: 1.5em;
}
#ccg-generator-canvas #generator-summary-table > table {
	width: auto;
	margin: 0 auto;
}
#ccg-generator-canvas #generator-summary-table > table tr {
	background: #eeeeee;
}
#ccg-generator-canvas #generator-summary-table > table tr:nth-child(2n) {
	background: #fafafa;
}
#ccg-generator-canvas .generator-resolve-list tr:nth-child(2n) {
	background: #f5f5f5;
}
#ccg-generator-canvas #generator-summary-table > table td,
#ccg-generator-canvas .generator-resolve-table td {
	padding: 5px 30px;
}
#ccg-generator-canvas .generator-resolve-table tbody > tr,
#ccg-generator-canvas .generator-resolve-list tbody > tr {
	border-bottom: 1px solid #e1e1e1;
}
#ccg-generator-canvas .generator-resolve-table tbody > tr:last-child,
#ccg-generator-canvas .generator-resolve-list tbody > tr:last-child {
	border-bottom: 0 solid #f00;
}
#ccg-generator-canvas .generator-resolve-list td {
	padding: 2px 15px;
}
#ccg-generator-canvas #generator-summary-table > table tr:hover,
#ccg-generator-canvas #generator-summary-table > table tr:hover a {
	background: #0083cb;
	color: white;
}
#ccg-generator-canvas #generator-summary-table > table tr:hover small {
    color: white;
}
#ccg-generator-canvas .generator-resolve-table,
#ccg-generator-canvas .generator-resolve-list {
	border-spacing: 0;
	color: #555;
	border-collapse: collapse;
}
#ccg-generator-canvas .generator-resolve-table > tbody > tr > td:first-child {
	border-right: 3px solid #0083cb;
	color: #0083cb;
	font-weight: bold;
}
#ccg-generator-canvas .generator-resolve-table ul {
	margin: 0;

}

#ccg-generator-canvas  .generator-resolve-table-config > tbody > tr:nth-child(2n) {
	background: #fff;
}

/**
 * part group Boxes => index action
 */
#ccg-generator-canvas #generator-progress-number {
	color: #0083cb;
	font-size: 2em;
    font-weight: 300;
	margin-top: 1em;
	text-align: center;
}
/**
 * @action selectPartGroupParts
 */
#ccg-generator-canvas #generator-partSelection-part-group {
	margin: 2em 0;
}
#ccg-generator-canvas #generator-part-group-info h2 {
    color: #0083cb;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    font-weight: 300;
}
#ccg-generator-canvas .generator-select-part-group-part-selector {
	color: #676767;
    font-size: 1.1em;
	background: #e8e8e8;
	display: block;
    margin-bottom: 8px;
	border-bottom: 3px solid #d5d5d5;
	padding: 8px;
}
#ccg-generator-canvas .generator-select-part-group-part-selector.disabled {
	background: #f5f5f5;
    border-bottom-color: #eee;
	color: #ffb2b2;
	cursor: not-allowed;
}
#ccg-generator-canvas .generator-select-part-group-part-selector .min-order-quantity-label:hover {
    cursor: help;
}
#ccg-generator-canvas .generator-select-part-group-part-selector.disabled .generator-checkbox,
#ccg-generator-canvas .generator-select-part-group-part-selector.disabled .generator-select-part-group-part-button-wrapper,
#ccg-generator-canvas .generator-select-part-group-part-selector.disabled .generator-select-part-group-part-price {
    zoom: 1;
    filter: alpha(opacity=40);
    opacity: 0.4;
}
#ccg-generator-canvas .generator-select-part-group-part-selector.enabled:hover,
#ccg-generator-canvas .generator-select-part-group-part-selector.enabled:focus {
	background: #0083cb;
    border-bottom-color: #00476f;
}
#ccg-generator-canvas .generator-select-part-group-part-selector.sku-incompatible-part.enabled:hover,
#ccg-generator-canvas .generator-select-part-group-part-selector.sku-incompatible-part.enabled:focus {
    background: #d3d3d3;
    border-bottom-color: #a8a8a8;
}
#ccg-generator-canvas .generator-select-part-group-part-selector.sku-incompatible-part.enabled:hover .generator-select-part-group-part.part,
#ccg-generator-canvas .generator-select-part-group-part-selector.sku-incompatible-part.enabled:focus .generator-select-part-group-part.part {
    color: #676767;
}
#ccg-generator-canvas .generator-select-part-group-part.part {
	display: block;
	margin-left: 45px;
	padding: 9px 15px;
}
#ccg-generator-canvas .generator-select-part-group-price,
#ccg-generator-canvas .generator-select-part-group-part-price {
	color: #0083cb;
	float: right;
	line-height: 38px;
	padding: 0 15px;
}
#ccg-generator-canvas .generator-select-part-group-price {
	line-height: 50px;
	padding: 0 25px 0 0;
}
#ccg-generator-canvas .generator-select-part-group-price.generator-price-info {
	color: #808080;
}
#ccg-generator-canvas .generator-select-part-group-part-info,
#ccg-generator-canvas .generator-select-part-group-part-image {
	color: #808080;
	cursor: help;
}
#ccg-generator-canvas .generator-select-part-group-part-info:hover,
#ccg-generator-canvas .generator-select-part-group-part-image:hover {
	text-decoration: underline;
}
#ccg-generator-canvas .generator-select-part-group-part-button-wrapper {
	float: right;
	padding-right: 10px;
    line-height: 38px;
}
#ccg-generator-canvas .generator-select-part-group-part-button-wrapper .popover {
    max-width: 250px;
    width: auto;
}
#ccg-generator-canvas .generator-select-part-group-part-selector.enabled:hover .generator-checkbox,
#ccg-generator-canvas .generator-select-part-group-part-selector.enabled:hover .generator-select-part-group-part.part,
#ccg-generator-canvas .generator-select-part-group-part-selector.enabled:hover .generator-select-part-group-part-price,
#ccg-generator-canvas .generator-select-part-group-part-selector.enabled:hover .generator-select-part-group-part-info,
#ccg-generator-canvas .generator-select-part-group-part-selector.enabled:hover .generator-select-part-group-part-image,
#ccg-generator-canvas .generator-select-part-group-part-selector.enabled:focus .generator-checkbox,
#ccg-generator-canvas .generator-select-part-group-part-selector.enabled:focus .generator-select-part-group-part.part,
#ccg-generator-canvas .generator-select-part-group-part-selector.enabled:focus .generator-select-part-group-part-price,
#ccg-generator-canvas .generator-select-part-group-part-selector.enabled:focus .generator-select-part-group-part-info,
#ccg-generator-canvas .generator-select-part-group-part-selector.enabled:focus .generator-select-part-group-part-image {
	color: #fff;
}
#ccg-generator-canvas .generator-checkbox {
	border: 4px solid #ccc;
	background: #fff;
	box-shadow: 0 0 2px #ccc inset;
	display: block;
	float: left;
	height: 32px;
	margin-right: 5px;
	width: 32px;
	position: relative;
}
#ccg-generator-canvas .generator-checkbox.checked {
	border-color: #0083cb;
}
.generator-checkbox.checked+span {
	color: #0083cb;
}
#ccg-generator-canvas .generator-checkbox.checked .generator-part-checkbox-image {
	background-image: url("../Images/check_32px.png");
	background-repeat: no-repeat;
	background-position: 50% center;
	display: block;
	width: 100%;
	height: 100%;
}

/* Styling an indeterminate progress bar */
#ccg-generator-canvas progress:not(value) {
	/* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}

/**
 * PROGRESS styles
 */
.ccg-generator-progress-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    z-index: 10;
}
.ccg-generator-progress-wrap .ccg-progress-indicator {
    margin-top: 30px;
    position: absolute;
    overflow: visible !important;
}
.ccg-generator-progress-wrap .ccg-progress-indicator > span {
    position: relative;
    background: #0083cb;
    color: white;
    font-size: 0.9em;
    padding: 4px 10px;
    right: -6px;
}
.ccg-generator-progress-wrap .ccg-progress-indicator > span:before {
    position: absolute;
    right: 0;
    bottom: 100%;
    border: 7px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border-bottom-color: #0083cb;
    margin-top: -7px;
}
#ccg-generator-canvas progress[value] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
	background-color: #DDD;
	border: none;
	/*box-shadow: 1px 1px 25px #c0c0c0;*/
	color: #0083cb;
	height: 8px;
	left: 0;
	width: 100%;
	z-index: 1;
}
progress[value]::-webkit-progress-bar {
    background-color: #DDD;
    border-radius: 2px;
}
progress[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(
                -45deg,
                transparent 33%,
                rgba(0, 0, 0, .1) 33%,
                rgba(0,0, 0, .1) 66%,
                transparent 66%
        ),
        -webkit-linear-gradient(
                top,
                rgba(255, 255, 255, .25),
                rgba(0, 0, 0, .25)
        ),
        -webkit-linear-gradient(
                left, #193c5e, #0083cb
        );
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-moz-progress-bar {
    background-image:
            -moz-linear-gradient(
                    135deg,
                    transparent 33%,
                    rgba(0, 0, 0, 0.1) 33%,
                    rgba(0, 0, 0, 0.1) 66%,
                    transparent 66%
            ),
            -moz-linear-gradient(
                    top,
                    rgba(255, 255, 255, 0.25),
                    rgba(0, 0, 0, 0.25)
            ),
            -moz-linear-gradient(
                    left, #193c5e, #0083cb
            );

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* Fallback technique styles */
#ccg-generator-canvas .progress-bar {
	background-color: transparent;
	height: 8px;
	overflow: hidden;
	position: fixed;
	width: 100%;
}
#ccg-generator-canvas .progress-bar span {
	background-color: #0083cb;
	display: block;
	text-indent: -9999px;
}

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
	background-color: #fff;
}
body .ui-tooltip {
	border-width: 2px;
}
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


@media (max-width: 1024px) {
}

@media (max-width: 768px) {
	#ccg-generator-canvas .ecom-generator-generator-head .generator-config-header-instructions {
		display: block;
		float: none;
	}
	#ccg-generator-canvas .ecom-generator-generator-head .generator-config-header-price-table {
		display: block;
		/*float: none;*/
		margin-top: 1em;
	}
	#ccg-generator-canvas .ecom-generator-generator-head .generator-config-header-price-table table td {
		padding-left: 0;
		padding-right: 40px;
	}
	#ccg-generator-canvas .generator-result h2 {
		font-size: 1.7em;
		font-weight: normal;
	}
	#ccg-generator-canvas .generator-result h3 {
		font-size: 2em;
		font-weight: normal;
	}
	#ccg-generator-canvas .generator-result h2 > small {
		font-size: 1em;
		font-weight: normal;
	}
	.select-region-wrap a.select-region-choose-flag img {
		width: 150px;
		height: auto;
	}
	#ccg-generator-canvas #generator-summary-table > table td {
		padding: 5px 10px;
	}
}

@media (max-width: 468px) {
	#ccg-generator-canvas .generator-select-part-group-price,
	#ccg-generator-canvas .generator-select-part-group-part-price {
		padding: 0 5px;
	}
	#ccg-generator-canvas .generator-result h2 {
		font-size: 1.4em;
		font-weight: normal;
	}
	#ccg-generator-canvas .generator-result h2 > small {
		font-size: 0.8em;
		font-weight: normal;
	}
	#ccg-generator-canvas .generator-arrow-right {
		display: none;
	}
	.select-region-wrap a.select-region-choose-flag {
		display: block;
	}
	.select-region-wrap a.select-region-choose-flag img {
		width: 100px;
		height: auto;
	}
}

@media print {
    .generator-result .btn {
        display: none !important;
    }
}