body {
	font-family: "Roboto Condensed", sans-serif;
}
#ccg-configurator-canvas a {
	cursor: pointer;
}
#ccg-configurator-canvas a.configurator-part-group-select.configurator-part-group-state-0,
#ccg-configurator-canvas a.configurator-part-group-select.configurator-locked-part-group,
#ccg-configurator-canvas a.configurator-part-group-select.current {
	cursor: not-allowed;
}
#ccg-configurator-canvas a:focus {
	outline: 1px dotted black;
}
#ccg-configurator-canvas table.vtop * {
	vertical-align: top;
}

#ccg-configurator-canvas .no-margin {
	margin: 0;
}

#ccg-configurator-canvas img.configurator-part-group-icon.icon-state-0 {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

#ccg-configurator-canvas .align-center,
#ccg-configurator-canvas .align-center * {
	text-align: center;
}

#ccg-configurator-canvas .align-right,
#ccg-configurator-canvas .align-right * {
	text-align: right;
}

.divider {
	border-bottom: 1px solid #ccc;
	margin: 1em 0;
}
#ccg-configurator-ajax-loader.ajaxloader {
	background: rgba(255, 255, 255, .8) url("../../../../../../typo3/sysext/t3skin/images/spinner/big-f0f0f0.gif") center center no-repeat scroll;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#ccg-configurator-canvas .btn { margin-right: 5px; }

#ccg-configurator-canvas .btn.btn-default.dropdown:after {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f107";
	padding-left: 5px;
	text-align: center;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	width: 1.28571429em;
}
#ccg-configurator-canvas .btn.btn-default.dropdown.active:after {
	content: "\f106";
}
/**
*	SELECT REGION / CURRENCY
*/
.select-region-wrap {
	text-align: center;
}
.select-region-wrap .select-region-currencies {
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 10px 0;
}
.select-region-wrap h2 {
	color: #0083cb;
	margin-bottom: 1.5em;
}
.select-region-wrap a.select-region-choose-flag {
	color: black;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
	padding: 0 15px;
	margin: 1em 0;
	display: inline-block;
	*display: inline;
	zoom: 1;
	transition: color 0.2s ease-out;
}

.select-region-wrap a.select-region-choose-flag:hover {
	color: #0083cb;
}
.select-region-wrap a.select-region-choose-flag img {
	opacity: 0.5;
	margin-bottom: 0.5em;
	transition: all 0.2s ease-out;
}
.select-region-wrap a.select-region-choose-flag:hover img {
	opacity: 1;
}
.select-region-wrap aside {
	color: #999;
	text-align: center;
	margin-top: 2em;
}

/**
 * INDEX
 */
#ccg-configurator-canvas div.clearfix {
	clear: both;
}
#ccg-configurator-canvas .configurator-head {
	/*border-top: 1px solid #ddd;*/
	/*border-bottom: 1px solid #ddd;*/
	padding: 20px 0;
}
#ccg-configurator-canvas .configurator-head .configurator-config-header-instructions {
	float: left;
}
#ccg-configurator-canvas .configurator-head .configurator-config-header-instructions p {
	margin: 0;
}
#ccg-configurator-canvas .configurator-head .configurator-config-header-price-table {
	float: right;
}
#ccg-configurator-canvas .configurator-head .configurator-config-header-price-table thead {
	color: #808080;
}
#ccg-configurator-canvas .configurator-head .configurator-config-header-price-table table td {
	padding-left: 40px;
}
#ccg-configurator-canvas .configurator-head #configurator-config-header-config-price {
	color: #0083cb;
	font-weight: bold;
}
#ccg-configurator-canvas a {
	cursor: pointer;
	text-decoration: none;
}
#ccg-configurator-canvas a:focus {
	outline: 1px dotted black;
}
#configurator-part-group-select-index {
	margin-bottom: 1.5em;
}
#configurator-select-parts-ajax-update {
	margin-top: 1.5em;
}
#ccg-configurator-canvas a.configurator-part-group-select {
	float: left;
	margin-right: 0.5em;
	text-align: center;
	word-wrap: break-word;
	width: 80px;
}
#ccg-configurator-canvas a.configurator-part-group-select > div:first-child {
	margin: 0 auto;
	position: relative;
	height: 37px;
	width: 28px;
}
#ccg-configurator-canvas a.configurator-part-group-select:last-child > div {
	margin-right: 0;
}
#ccg-configurator-canvas a.configurator-part-group-select > div span.part-group-number {
	border: 1px solid #000;
	display: block;
	height: 28px;
	line-height: 26px !important;
	width: 28px;
}
#ccg-configurator-canvas a.configurator-part-group-select.configurator-part-group-state-0 > div span.part-group-number {
	border-color: #808080;
	color: #808080;
}
#ccg-configurator-canvas a.configurator-part-group-select.configurator-locked-part-group > div span.part-group-number,
#ccg-configurator-canvas a.configurator-part-group-select.configurator-locked-part-group > div i {
	border-color: #ccc;
	color: #ccc;
}
#ccg-configurator-canvas a.configurator-part-group-select.current > div span.part-group-number {
	border: 2px solid #0083cb;
}
#ccg-configurator-canvas a.configurator-part-group-select > div > i {
	background-color: #fff;
	bottom: 2px;
	position: absolute;
	right: -6px;
}
#ccg-configurator-canvas a.configurator-part-group-select > div > i {
	color: #060;
}
#ccg-configurator-canvas a.configurator-part-group-select > div > i.fa-square-o.current {
	color: #f00;
}
#ccg-configurator-canvas img.configurator-part-group-icon.icon-state-0 {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
#ccg-configurator-canvas .syntax-help {
	padding: 0 2px;
}
#ccg-configurator-canvas .syntax-help[title]:hover,
#ccg-configurator-canvas .syntax-help[title]:focus {
	background-color: #ff6;
	cursor: help;
}
#ccg-configurator-canvas .configurator-reset-configuration-button {
	display: block;
	color: #808080;
	margin-top: 0.5em;
}
#ccg-configurator-canvas .configurator-result {
	margin: 2em 0;
	text-align: center;
}
#ccg-configurator-canvas .configurator-result h2 {
	color: #0083cb;
	line-height: 2em;
}
#ccg-configurator-canvas .configurator-result h2 > small {
	font-size: 1.5em;
	color: #808080;
}

#ccg-configurator-canvas .configurator-resolve-list thead {
	font-weight: bold;
	color: #0083cb;
	border-bottom: 4px solid #0083cb;
}
#ccg-configurator-canvas #configurator-summary-table {
	display: block;
	padding-top: 1.5em;
}
#ccg-configurator-canvas #configurator-summary-table > table {
	width: auto;
	margin: 0 auto;
}
#ccg-configurator-canvas #configurator-summary-table > table tr {
	background: #eeeeee;
}
#ccg-configurator-canvas #configurator-summary-table > table tr:nth-child(2n) {
	background: #fafafa;
}
#ccg-configurator-canvas .configurator-resolve-list tr:nth-child(2n) {
	background: #f5f5f5;
}
#ccg-configurator-canvas #configurator-summary-table > table td,
#ccg-configurator-canvas .configurator-resolve-table td {
	padding: 5px 30px;
}
#ccg-configurator-canvas .configurator-resolve-table tbody > tr,
#ccg-configurator-canvas .configurator-resolve-list tbody > tr {
	border-bottom: 1px solid #e1e1e1;
}
#ccg-configurator-canvas .configurator-resolve-table tbody > tr:last-child,
#ccg-configurator-canvas .configurator-resolve-list tbody > tr:last-child {
	border-bottom: 0 solid #f00;
}
#ccg-configurator-canvas .configurator-resolve-list td {
	padding: 2px 15px;
}
#ccg-configurator-canvas #configurator-summary-table > table tr:hover,
#ccg-configurator-canvas #configurator-summary-table > table tr:hover a {
	background: #0083cb;
	color: white;
}
#ccg-configurator-canvas .configurator-resolve-table,
#ccg-configurator-canvas .configurator-resolve-list {
	border-spacing: 0;
	color: #555;
	border-collapse: collapse;
}
#ccg-configurator-canvas .configurator-resolve-table > tbody > tr > td:first-child {
	border-right: 3px solid #0083cb;
	color: #0083cb;
	font-weight: bold;
}
#ccg-configurator-canvas .configurator-resolve-table ul {
	margin: 0;

}

#ccg-configurator-canvas  .configurator-resolve-table-config > tbody > tr:nth-child(2n) {
	background: #fff;
}

/**
 * part group Boxes => index action
 */
#ccg-configurator-canvas #configurator-progress-number {
	color: #0083cb;
	font-size: 1.2em;
	margin-top: 1em;
	text-align: center;
}
/**
 * @action selectPartGroupParts
 */
#ccg-configurator-canvas #configurator-partSelection-part-group {
	margin: 2em 0;
}
#ccg-configurator-canvas #configurator-part-group-info h2 {
	color: #0083cb;
}
#ccg-configurator-canvas .configurator-select-part-group-part-selector {
	color: #000;
	background: #eee;
	display: block;
	border-bottom: 2px solid #fff;
	padding: 8px;
}
#ccg-configurator-canvas .configurator-select-part-group-part-selector.disabled {
	background: #eee;
	color: #ffb2b2;
	cursor: not-allowed;
}
#ccg-configurator-canvas .configurator-select-part-group-part-selector.enabled:hover,
#ccg-configurator-canvas .configurator-select-part-group-part-selector.enabled:focus {
	background: #0083cb;
}
#ccg-configurator-canvas .configurator-select-part-group-part.part {
	display: block;
	margin-left: 45px;
	padding: 9px 15px;
}
#ccg-configurator-canvas .configurator-select-part-group-price,
#ccg-configurator-canvas .configurator-select-part-group-part-price {
	color: #0083cb;
	float: right;
	line-height: 38px;
	padding: 0 15px;
}
#ccg-configurator-canvas .configurator-select-part-group-price {
	line-height: 50px;
	padding: 0 25px 0 0;
}
#ccg-configurator-canvas .configurator-select-part-group-price.configurator-price-info {
	color: #808080;
}
#ccg-configurator-canvas .configurator-select-part-group-part-info {
	color: #808080;
	line-height: 38px;
	cursor: help;
}
#ccg-configurator-canvas .configurator-select-part-group-part-info:hover {
	text-decoration: underline;
}
#ccg-configurator-canvas .configurator-select-part-group-part-info-wrapper {
	float: right;
	padding: 0 15px;
}
#ccg-configurator-canvas .configurator-select-part-group-part-selector.enabled:hover .configurator-checkbox,
#ccg-configurator-canvas .configurator-select-part-group-part-selector.enabled:hover .configurator-select-part-group-part.part,
#ccg-configurator-canvas .configurator-select-part-group-part-selector.enabled:hover .configurator-select-part-group-part-price,
#ccg-configurator-canvas .configurator-select-part-group-part-selector.enabled:hover .configurator-select-part-group-part-info,
#ccg-configurator-canvas .configurator-select-part-group-part-selector.enabled:focus .configurator-checkbox,
#ccg-configurator-canvas .configurator-select-part-group-part-selector.enabled:focus .configurator-select-part-group-part.part,
#ccg-configurator-canvas .configurator-select-part-group-part-selector.enabled:focus .configurator-select-part-group-part-price,
#ccg-configurator-canvas .configurator-select-part-group-part-selector.enabled:focus .configurator-select-part-group-part-info {
	color: #fff;
}
#ccg-configurator-canvas .configurator-checkbox {
	border: 4px solid #ccc;
	background: #fff;
	box-shadow: 0 0 2px #ccc inset;
	display: block;
	float: left;
	height: 32px;
	margin-right: 5px;
	width: 32px;
	position: relative;
}
#ccg-configurator-canvas .configurator-checkbox.checked {
	border-color: #0083cb;
}
.configurator-checkbox.checked+span {
	color: #0083cb;
}
#ccg-configurator-canvas .configurator-checkbox.checked .configurator-part-checkbox-image {
	background-image: url("../Images/check_32px.png");
	background-repeat: no-repeat;
	background-position: 50% center;
	display: block;
	width: 100%;
	height: 100%;
}

/* Styling an indeterminate progress bar */
#ccg-configurator-canvas progress:not(value) {
	/* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}

/**
 * PROGRESS styles
 */
#ccg-configurator-canvas progress[value] {
	appearance: none;
	background-color: #f3f3f3;
	border: none;
	/*box-shadow: 1px 1px 25px #c0c0c0;*/
	color: #0083cb;
	height: 5px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
/* Fallback technique styles */
#ccg-configurator-canvas .progress-bar {
	background-color: transparent;
	height: 5px;
	overflow: hidden;
	position: fixed;
	width: 500px;
}
#ccg-configurator-canvas .progress-bar span {
	background-color: #0083cb;
	display: block;
	text-indent: -9999px;
}

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
	background-color: #fff;
}
body .ui-tooltip {
	border-width: 2px;
}
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


@media (max-width: 1024px) {
}

@media (max-width: 768px) {
	#ccg-configurator-canvas .configurator-head .configurator-config-header-instructions {
		display: block;
		float: none;
	}
	#ccg-configurator-canvas .configurator-head .configurator-config-header-price-table {
		display: block;
		float: none;
		margin-top: 1em;
	}
	#ccg-configurator-canvas .configurator-head .configurator-config-header-price-table table td {
		padding-left: 0;
		padding-right: 40px;
	}
	#ccg-configurator-canvas .configurator-result h2 {
		font-size: 1.7em;
		font-weight: normal;
	}
	#ccg-configurator-canvas .configurator-result h3 {
		font-size: 2em;
		font-weight: normal;
	}
	#ccg-configurator-canvas .configurator-result h2 > small {
		font-size: 1em;
		font-weight: normal;
	}
	.select-region-wrap a.select-region-choose-flag img {
		width: 150px;
		height: auto;
	}
	#ccg-configurator-canvas #configurator-summary-table > table td {
		padding: 5px 10px;
	}
	.sweet-alert .sa-icon {
		display: none !important;
	}
}

@media (max-width: 468px) {
	#ccg-configurator-canvas .configurator-select-part-group-price,
	#ccg-configurator-canvas .configurator-select-part-group-part-price {
		padding: 0 5px;
	}
	#ccg-configurator-canvas .configurator-result h2 {
		font-size: 1.4em;
		font-weight: normal;
	}
	#ccg-configurator-canvas .configurator-result h2 > small {
		font-size: 0.8em;
		font-weight: normal;
	}
	#ccg-configurator-canvas .configurator-arrow-right {
		display: none;
	}
	.select-region-wrap a.select-region-choose-flag {
		display: block;
	}
	.select-region-wrap a.select-region-choose-flag img {
		width: 100px;
		height: auto;
	}
	.sweet-alert h2 {
		font-size: 2em !important;
		margin: 5px 0 !important;
	}
	.sweet-alert button {
		margin: 15px 5px 0 !important;
	}
}
