<f:if condition="{parts -> f:count()}">
    <f:for each="{parts}" as="part" iteration="partIterator">
        <f:comment>
            <!-- Badge usage -->
            <f:if condition="{f:ecom.checkBit(value: '{part.accessoryObject.badgesBit}', bit: '1')}">
                New
            </f:if>
            <f:if condition="{f:ecom.checkBit(value: '{part.accessoryObject.badgesBit}', bit: '2')}">
                ATEX
            </f:if>
            <f:if condition="{f:ecom.checkBit(value: '{part.accessoryObject.badgesBit}', bit: '4')}">
                NEC
            </f:if>
            <f:if condition="{f:ecom.checkBit(value: '{part.accessoryObject.badgesBit}', bit: '8')}">
                NonEx
            </f:if>
        </f:comment>
        <a data-part="{f:if(condition: part.uid, then: part.uid, else: part.codeSegment)}" data-part-state="{part.active -> f:format.number(decimals: 0)}" data-modal="{part.modalTrigger}" class="generator-select-part-group-part generator-select-part-group-part-selector {f:if(condition : '{part.inConflictWithSelectedParts}', then : 'disabled', else : 'enabled')}" tabindex="{partIterator.cycle}">
            <f:if condition="{pricingEnabled}">
                <span class="generator-select-part-group-part-price">{part.differencePricing} ( <abbr title="{f:translate(id: 'unitPrice', extensionName: 'ecom_config_code_generator')}">{f:translate(id: 'unitPriceAbbr', extensionName: 'ecom_config_code_generator')}</abbr> {part.currencyPricing}<f:if condition="{part.partGroup.pricePercentage}"> <span style="font-family: 'Lucida Sans Unicode', Arial, sans-serif">≙</span> {part.pricingPercentage}%</f:if> )</span>
            </f:if>
            <f:if condition="{part.hint}">
                <div class="generator-select-part-group-part-button-wrapper">
                    <span class="generator-select-part-group-part-info"><f:translate id="label.moreInformation" extensionName="ecom_config_code_generator" /></span>
                </div>
            </f:if>
            <f:if condition="{part.image}">
                <div class="generator-select-part-group-part-button-wrapper">
                    <span class="fa fa-image generator-select-part-group-part-image" data-image-src="{f:uri.image(width: 200, src: part.image.uid, treatIdAsReference:1)}"></span>
                </div>
            </f:if>
            <div class="generator-checkbox {f:if(condition: part.active,then: 'checked',else: 'unchecked')}"><span class="generator-part-checkbox-image"></span></div>
            <span class="generator-select-part-group-part part">
                {part.title}
                <f:if condition="{part.shortDescription}"> - {part.shortDescription}</f:if>
                <f:if condition="{f:countString(value: part.codeSegment)}">[{part.codeSegment}]</f:if>
            </span>
        </a>
        <div class="clearfix"></div>
    </f:for>
</f:if>